<% if @lockfile.insecure_sources.any? %>
  <h4>Insecure Sources</h4>
  <ul>
  <% @lockfile.insecure_sources.each do |insecure_source| %>
    <li><%= insecure_source.source %></li>
  <% end %>
  </ul>
<% end %>

<h4>Unpatched Gems</h4>
<% if @lockfile.unpatched_gems.empty? %>
  No unpatched gems
<% else %>
  <div class="gems">
    <% @lockfile.unpatched_gems.each do |g| %>
      <% gem = g.gem %>
      <% advisory = g.advisory %>
      <div class="block">
        <header>
          <h5><%= gem.name %>#<%= gem.version %></h5>
        </header>
        <div class="row">
          <div class="def column column-10">Advisory</div>
          <div class="column">
            <% if advisory.cve %>
              <%= "CVE-#{advisory.cve}" %>
            <% elsif advisory.osvdb %>
              <%= advisory.osvdb %>
            <% end %>
          </div>
        </div>
        <div class="row">
          <div class="def column column-10">Criticality</div>
          <div class="column">
            <%= advisory.criticality %>
          </div>
        </div>
        <div class="row">
          <div class="def column column-10">Url</div>
          <div class="column">
            <%= advisory.url %><br/>
          </div>
        </div>
        <div class="row">
          <div class="def column column-10">Solution</div>
          <div class="column">
              <% unless advisory.patched_versions.empty? %>
            Upgrade to <%= advisory.patched_versions.join(', ') %>
          <% else %>
            remove or disable this gem until a patch is available!
          <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
