<header>
  <h5>Config</h5>
</header>
<div class="block">
  <div class="row">
    <div class="def column column-10">Organization</div>
    <div class="column"><%= ENV["GITHUB_ORG"] %></div>
  </div>
</div>
<div class="block">
  <div class="row">
    <div class="def column column-10">Repositories</div>
    <div class="column">
      <table>
        <tbody>
          <% @repos.each do |repo| %>
            <tr>
              <td><%= link_to repo, "/#{repo}" %></td>
              <td>
                <%= form_tag("/#{repo}", method: "delete", class: "delete float-right") do %>
                  <%= submit_tag("Remove", class: "button button-outline") %>
                <% end %>
              </td>
            </tr>
          <% end %>
          <%= form_tag("/repos", method: "post") do %>
            <tr><td>
                <%= text_field_tag(:repos, nil, placeholder: "owner/repo_name, owner/repo_name2") %></td><td>
                <%= submit_tag("Add Repositories", class: "float-right") %>
            </td></tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
