<h1 class="header">Lenny the binoculars</h1>
<div class="block">
  <header>
    <h5>Config</h5>
  </header>
  <div class="row">
    <div class="def column column-10">Organization</div>
    <div class="column"><%= ENV["GITHUB_ORG"] %></div>
  </div>
  <div class="row">
    <div class="def column column-10">Repositories</div>
    <div class="column">
      <ul>
      <% @repos.split(",").each do |repo| %>
        <li><%= repo %></li>
      <% end %>
      <li>
        <%= form_tag("/repos", method: "post") do %>
          <%= text_field_tag(:repos) %>
          <%= submit_tag("+") %>
        <% end %>
      </li>
      </ul>
    </div>
  </div>
</div>
